.home-cta {
    background: url('/assets/images/home-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
  }

button {
    background-color: #ffc107;
    color: black;
}