<section class="share-campaign">
    <div class="container">
      <div class="row d">
        <div class="col-md-12">
          <h1 class="text-center txt_01">Share the campaign page !</h1>
        </div>
        <div class="col-md-12 text-center">
          <div class="site-footer">
                  <!-- <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                  </ul> -->
                  <share-buttons [theme]="'circles-dark'"
                  [include]="['facebook','twitter','linkedin','whatsapp','copy']"
                  [show]="5"
                  [size]="1"
                  [url]="pattern_url_campagne + campaign._id + '/' + (campaign.name).replace(' ', '-').toLowerCase()"
                  [image]="pattern_profile + campaign.founder_id"
                  [autoSetMeta]="false"></share-buttons>
          </div>
        </div>
      </div>
    </div>
  </section>