.item { 
    .mat-card {
      margin: 0 16px;
      min-height: 90%;
      max-height: 90%;
    }
  }

  /*------ Carousel -------*/
.ngucarousel {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}
.ngucarousel-inner {
    padding: 8px 0 18px;
}
.carousel-left,
.carousel-right {
    position: absolute;
    top: calc(50% - 28px)!important;
    background: #ffffff;
    color: rgba(0, 0, 0, .87);
    z-index: 9;
}
.carousel-left {
    left: -20px;
}
.carousel-right {
    right: -20px;
}

.home-fancy-card {
    border-top: 2px solid #212121;
    transition: all 0.3s ease;
    height: calc(100% - 35px);
    [fxlayout="column"] {
      height: 100%;
    }
  }
  .home-fancy-card:hover {
    border-top: 2px solid #3f51b5;
  }
  .home-fancy-card:hover [mat-card-icon] {
    color: #3f51b5;
  }
  .home-fancy-card .description {
    font-size: 15px;
    color: #616161;
  }

  .mat-card {
    font-size: .875rem;
}
.mat-card {
    margin: .333333rem;
    overflow: hidden;
}
.mat-card .mat-card-title .mat-divider, .mat-divider.full-width {
    margin-left: -24px;
    margin-right: -24px;
}
.mat-card.p-0 .mat-card-title .card-title-text {
    padding: 1rem 1.5rem;
}   
.mat-card.p-0 .mat-card-title .card-title-text .card-control {
    height: 24px;
    width: 24px;
    line-height: 24px;
}
.mat-card.p-0 .mat-card-title .card-title-text .mat-card-subtitle {
    margin: 0;
}
.mat-card.p-0 .mat-card-title .mat-divider {
    margin-left: 0;
    margin-right: 0;
    border-top-color: rgba(0, 0, 0, 0.04);
}
.mat-card.p-0 .mat-card-image {
    margin: 0 0 1rem !important;
}
.mat-card.p-0 .mat-card-content {
    padding:  0 1.5rem 1.5rem;
}
