@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

.association-section{
    padding: 80px 0px;
}
.association{
    text-align: center;
}
.association img{
    width: 200px;
    height: 200px;
}
.association h1{
    font-size:38px;
    font-family: 'Otomanopee One', sans-serif;
}

.association h3{
    font-family: 'Baloo Chettan 2', cursive;
}