<section class="dataTable mb-5">
    <div class="container">
        <div class="row centerTable">
            <div class="col-md-12">
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Filter by Team">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-users"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Looking for a Donator"  [(ngModel)]="searchDonators">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div style="overflow-y: scroll; height:300px; margin-top:6%">
                <div class="tableBox" *ngFor="let dons of donations|async | searchFilter: searchDonators">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile">
                                <i class="fa fa-users"></i>
                                <span>..Team..</span>
                            </div>
                        </div>
                        <div class="col-md-8 headingTet">
                            <img *ngIf="dons.isRegistered" [src]="pattern_url + dons.userId" alt="" width="30px" height="30px">
                            <span>{{dons.lname}} {{dons.fname}}</span>
                        </div>
                        <div class="col-md-4 rightText">
                            <h4>{{dons.sum}}€</h4>
                            <h6>{{dons.createdAt | date}}</h6>
                        </div>
                        <div class="col-md-12 line">
                            <hr>
                        </div>
                        <div class="col-md-12 footerText">
                            <p>{{dons.message}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>