<section id="campaign-section">
  <div class="container text-center" style="text-align:center; margin:auto;">
<mat-toolbar style="background-color: white;">
    <mat-form-field style="width: 100%" floatLabel='never'>
        <input matInput [(ngModel)]="searchText" autocomplete="off">
    </mat-form-field>
</mat-toolbar>

  <div class="wrapper">
    <div class="card" *ngFor="let campaign of campaigns | async | searchFilter: searchText">
        <input type="checkbox" id="{{campaign._id}}" class="more" aria-hidden="true">
        <div class="content">
            <div class="front" [ngStyle]="{'background-image': 'url(' + pattern_url + campaign._id + ')'}">
                <div class="inner">
                    <label  for="{{campaign._id}}" class="button" ><h2>{{campaign.name}}</h2></label>
                    <!-- <label for="{{campaign._id}}" class="button" aria-hidden="true">
                        Details
                    </label> -->
                </div>
            </div>
            <div class="back">
                <div class="inner">
                  <div style="position: relative;">
                    <mat-progress-bar mode="determinate" [value]="(campaign.totalSum/campaign.goal)*100 | number">
                    </mat-progress-bar>
                    <span style="position: absolute; top: 0.4em; left:1em"
                        [ngStyle]="{'left': progress + '%'}">{{(campaign.totalSum/campaign.goal)*100 | number}}%</span>
                  </div>  
                  <h2>{{campaign.name}}</h2>
                    <div class="description">
                      <p class="disclaimer">{{campaign.description}}</p>
                    </div>
                    <label for="{{campaign._id}}" class="button return" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</section>