
<section class="team-section" id="team-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-2">
          <div class="textBox">
            <i class="fa fa-bullhorn"></i>
            <h1 class="text-center" [innerHTML]="'home.banner-home.title' | translate"></h1>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="box team">
            <i class="fa fa-users"></i>
            <h1 class="text-center" [translate]="'home.banner-home.teamCreation'"></h1>
            <button class="btn" [translate]="'home.banner-home.buttonTeam'"></button>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="box association">
            <i class="fa fa-user"></i>
            <h1 class="text-center" [translate]="'home.banner-home.associationCreation'"></h1>
            <button class="btn" [translate]="'home.banner-home.buttonAssociation'"></button>
          </div>
        </div>
      </div>
    </div>
  </section>