<section class="slider-section" id="slider-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div class="card carouselBox" style="width: 98%;">
                <img src="assets/image/charity.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title"  [translate]="'home.how-it-work.first.title'"></h2>
                  <p class="card-text" [translate]="'home.how-it-work.first.text'"></p>
                  <a href="#" class="btn" [translate]="'form.Start'"></a>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="card carouselBox" style="width: 98%;">
                <img src="assets/image/donate.png" class="text-center" alt="...">
                <div class="card-body">
                  <h2 class="card-title" [translate]="'home.how-it-work.second.title'"></h2>
                  <p class="card-text" [translate]="'home.how-it-work.second.text'"></p>
                  <a href="#" class="btn" [translate]="'form.Start'"></a>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="card carouselBox" style="width: 98%;">
                <img src="assets/image/communication.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title" [translate]="'home.how-it-work.third.title'"></h2>
                  <p class="card-text" [translate]="'home.how-it-work.third.text'"></p>
                  <a href="#" class="btn" [translate]="'form.LearnMore'"></a>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="card carouselBox" style="width: 98%;">
                <img src="assets/image/helping-hand.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title" [translate]="'home.how-it-work.fourth.title'"></h2>
                  <p class="card-text" [translate]="'home.how-it-work.fourth.text'"></p>
                  <a href="#" class="btn" [translate]="'form.LearnMore'"></a>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>