<!-- dashboard logo start-->
<!-- <section class="dashnavbar-section">
    <div class="container">
        <div class="row">
            <nav class="navbar">
                <div class="container-fluid">
                        <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto;">
                            <li class="nav-item">
                                <a class="dropdown-item"> <img [src]="pattern_url + association._id" width="40px"
                                        height="40px" alt="">{{association.associationName}}</a>
                            </li>
                          
                        </ul>
                </div>
            </nav>
        </div>
    </div>
</section> -->


<!-- dashboard logo end -->
<section class="button-section">
    <div class="container">
        <div class="dashboard-title-btn">
            <div class="dashboard-title">
                <h1 class="text-center" [translate]="'administration.dashboard.Dashboard'"></h1>
            </div>
            <div class="dashboard-btn row">
                <div class="col-4">
                    <button class="btn btn-light" (click)="nav('administration/add')" [translate]="'administration.dashboard.Button1'"></button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" (click)="nav('administration/search')" [translate]="'administration.dashboard.Button2'"></button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" [translate]="'administration.dashboard.Button3'"></button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" (click)="nav('administration/modif')" [translate]="'administration.dashboard.Button4'"></button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" [translate]="'administration.dashboard.Button5'" (click)="newCampaign()"></button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" [translate]="'administration.dashboard.Button5'" (click)="newCampaign()"></button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" [translate]="'administration.dashboard.Button5'" (click)="newCampaign()"></button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" [translate]="'administration.dashboard.Button5'" (click)="newCampaign()"></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Count section start -->

<section class="count-section">
    <div class="container">
        <div class="count-info">
            <div class="collecte-totale">
                <p>8954 $</p>
                <p>Montant Collecte</p>
            </div>
            <div class="dashboard-info-img">
                <div class="dashboard-info">
                    <div class="collecte">
                        <p>895</p>
                        <p>Nombre de don</p>
                    </div>
                    <div class="collecte">
                        <p>497</p>
                        <p>Promesse de don</p>
                    </div>
                </div>
                <div class="img-earth"><img src="./assets/image/icone-earth.png"></div>
                <div class="dashboard-info">
                    <div class="collecte">
                        <p>675</p>
                        <p>Dons en ligne</p>
                    </div>
                    <div class="collecte">
                        <p>675</p>
                        <p>Dons hors ligne</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Excel section start -->
<section class="excel-section">
    <div class="container">
        <div class="row excel">
            <div class="col-md-12 excelHeading">
                <h1 class="text-center" [translate]="'administration.excel.Title'"></h1>
            </div>
            <div class="col-md-6 banner">
                <button class="btn" (click)="csvAllDonations()" [translate]="'administration.excel.Button1'"></button>
            </div>
            <div class="col-md-6 banner">
                <button class="btn" [translate]="'administration.excel.Button2'"></button>
            </div>
        </div>
    </div>
</section>
<!-- Excel section end -->

