@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap");
body {
  background-color: whitesmoke;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "AvenirNext-UltraLight", cursive;
}
.button-section {
  // margin-top: 80px;
  .container {
    background-image: url(../../../../assets/image/map-background.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .btn {
    background-color: whitesmoke;
    color:black;
    text-align: center;
    height: 100px;
    width: 115px;
    border-radius: 25px;
    box-shadow: 0px 1px 3px 2px #0000005e;
  }
  .dashboard-title-btn {
    .dashboard-title {
      color: whitesmoke;
      padding-top: 30px;
    }
    .dashboard-btn {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .col-4 {
    text-align: center;
  }
  @media (max-width: 767px) {
    .col-4 {
      width: 10rem;
      margin: 10px 0;
    }
  }
  @media (min-width: 767px) {
    .col-4 {
      width: 20rem;
      margin: 20px 0;
    }
  }
}

/* count-section */
.count-section {
  .container {
    background-image: url(../../../../assets/image/decor-pointille.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding: 0;
    .count-info {
      margin: 4rem 0;
      @media (min-width: 767px) {
        .collecte-totale {
          margin: inherit;
        }
      }
      @media (max-width: 767px) {
        .collecte-totale {
          margin: 1rem;
        }
      }
      .collecte-totale {
        text-align: center;
        @media (max-width: 767px) {
          p {
            margin: 0;
            font-size: 1rem;
          }
        }
        @media (min-width: 767px) {
          p {
            font-size: 2rem;
          }
        }
      }
      .dashboard-info-img {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        @media (max-width: 767px) {
          p {
            margin: 0;
            font-size: 1rem;
          }
          img {
            width: 6rem;
          }
        }
        @media (min-width: 767px) {
          p {
            font-size: 2rem;
          }
          img {
            width: 15rem;
          }
        }
        .dashboard-info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }  
    }
  }
}

.banner {
  margin-top: 20px;
  text-align: center;
}

/* excel-section */
.excel-section {
  margin: 80px 0px;
}
.excel {
  /* border: 2px solid rgb(0, 0, 0); */
  color: whitesmoke;
  border-radius: 10px;
  /* box-shadow: 0px 0px 6px 2px #000000a3; */
  padding: 30px 10px;
  /* background-color: #107598; */
}
.excelHeading {
  box-shadow: 0px 0px 6px 2px #000000a3;
}
.excelHeading h1 {
  color: #222;
}

.data-section {
  margin: 80px 0px;
}
.table button {
  border-radius: 5px;
}

// .btn {
//   background-color: whitesmoke;
//   color: #f3558e;
//   text-align: center;
//   padding: 15px 40px;
//   border-radius: 25px;
//   border: 1px solid #f3558e;
//   box-shadow: 0px 1px 3px 2px #0000005e;
// }

/* .btn:hover {
  color: whitesmoke;
  background-color: #252425;
} */

.t-head {
  background-color: #fff;
  color: #f3558e;
}

.b-even {
  background-color: #fff;
}

.last {
  font-size: 22px;
  font-weight: 600;
  font-family: "Baloo Chettan 2", cursive;
}

.seeAll {
  text-align: right;
}

.btn-down {
  padding-top: 5px;
  padding-bottom: 5px;
}

.success {
  color: whitesmoke;
  background-color: #17b978;
  border: none;
}

.view {
  color: whitesmoke;
  background-color: #43dde6;
  border: none;
}

.danger {
  color: whitesmoke;
  background-color: #f3558e;
  border: none;
}

.stdd {
  color: whitesmoke;
  background-color: #a56cc1;
  border: none;
}

.yellow {
  color: whitesmoke;
  background-color: #2d767f;
  border: none;
}

.btn-danger {
  padding: 10px;
}
.success:hover {
  color: rgb(255, 255, 255);
  background-color: #12eb94;
  border: none;
}

.view:hover {
  color: whitesmoke;
  background-color: #00f2ff;
  border: none;
}

.danger:hover {
  color: whitesmoke;
  background-color: #f7075f;
  border: none;
}

.stdd:hover {
  color: whitesmoke;
  background-color: #9f2ada;
  border: none;
}

.yellow:hover {
  color: whitesmoke;
  background-color: #27b6c9;
  border: none;
}
.excel-section .banner button:hover{
  background-color: #f3558e;
  color: #fff;
}



// ===========================================================================================================
// ===========================================================================================================
// ===========================================================================================================
// ===========================================================================================================
// ===========================================================================================================
// ===========================================================================================================
// ===========================================================================================================
// ===========================================================================================================
// ===========================================================================================================

