<section class="card-section">
    <div class="container">
      <div class="row mobileCard">
       <div class="col-md-12">
        <owl-carousel-o [options]="customOptionsMobile">
          <ng-template carouselSlide>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="assets/image/full-banner.jpg" class="rounded-start" alt="card" height="100%" width="100%">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h2 class="card-title font_Roboto">Card title</h2>
                    <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i> Name of Association</h4>
    
                    <h4 class="collectedPrice">$1234</h4>
                    <progress-bar progress="55" color="#107598">
                    </progress-bar>
                    <div class="row">
                      <div class="col-md-6">
                        <span class="goal">Goal</span>
                      </div>
                      <div class="col-md-6 ">
                        <span class="float-end goal_price">$50000</span>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="assets/image/full-banner.jpg" class="rounded-start" alt="card" height="100%" width="100%">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h2 class="card-title font_Roboto">Card title</h2>
                    <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i> Name of Association</h4>
    
                    <h4 class="collectedPrice">$1234</h4>
                    <progress-bar progress="55" color="#107598">
                    </progress-bar>
                    <div class="row">
                      <div class="col-md-6">
                        <span class="goal">Goal</span>
                      </div>
                      <div class="col-md-6 ">
                        <span class="float-end goal_price">$50000</span>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="assets/image/full-banner.jpg" class="rounded-start" alt="card" height="100%" width="100%">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h2 class="card-title font_Roboto">Card title</h2>
                    <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i> Name of Association</h4>
    
                    <h4 class="collectedPrice">$1234</h4>
                    <progress-bar progress="55" color="#107598">
                    </progress-bar>
                    <div class="row">
                      <div class="col-md-6">
                        <span class="goal">Goal</span>
                      </div>
                      <div class="col-md-6 ">
                        <span class="float-end goal_price">$50000</span>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="assets/image/full-banner.jpg" class="rounded-start" alt="card" height="100%" width="100%">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h2 class="card-title font_Roboto">Card title</h2>
                    <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i> Name of Association</h4>
    
                    <h4 class="collectedPrice">$1234</h4>
                    <progress-bar progress="55" color="#107598">
                    </progress-bar>
                    <div class="row">
                      <div class="col-md-6">
                        <span class="goal">Goal</span>
                      </div>
                      <div class="col-md-6 ">
                        <span class="float-end goal_price">$50000</span>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
       </div>
      </div>
      <div class="row PcCard">
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-6 rnd">
                <img src="assets/image/full-banner.jpg" class="rounded-start" alt="card" height="100%" width="100%">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h2 class="card-title font_Roboto">Card title</h2>
                  <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i> Name of Association</h4>
  
                  <h4 class="collectedPrice">$1234</h4>
                  <progress-bar progress="55" color="#107598">
                  </progress-bar>
                  <div class="row">
                    <div class="col-md-6">
                      <span class="goal">Goal</span>
                    </div>
                    <div class="col-md-6 ">
                      <span class="float-end goal_price">$50000</span>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-6  rnd">
                <img src="assets/image/full-banner.jpg" class="rounded-start" alt="card" height="100%" width="100%">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h2 class="card-title font_Roboto">Card title</h2>
                  <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i> Name of Association</h4>
                  <h4 class="collectedPrice">$1234</h4>
                  <progress-bar progress="55" color="#107598">
                  </progress-bar>
                  <div class="row">
                    <div class="col-md-6">
                      <span class="goal">Goal</span>
                    </div>
                    <div class="col-md-6 ">
                      <span class="float-end goal_price">$50000</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-6  rnd">
                <img src="assets/image/full-banner.jpg" class="rounded-start" alt="card" height="100%" width="100%">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h2 class="card-title font_Roboto">Card title</h2>
                  <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i> Name of Association</h4>
                  <h4 class="collectedPrice">$1234</h4>
                  <progress-bar progress="55" color="#107598">
                  </progress-bar>
                  <div class="row">
                    <div class="col-md-6">
                      <span class="goal">Goal</span>
                    </div>
                    <div class="col-md-6 ">
                      <span class="float-end goal_price">$50000</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-6  rnd">
                <img src="assets/image/full-banner.jpg" class="rounded-start" alt="card" height="100%" width="100%">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h2 class="card-title font_Roboto">Card title</h2>
                  <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i> Name of Association</h4>
                  <h4 class="collectedPrice">$1234</h4>
                  <progress-bar progress="55" color="#107598">
                  </progress-bar>
                  <div class="row">
                    <div class="col-md-6">
                      <span class="goal">Goal</span>
                    </div>
                    <div class="col-md-6 ">
                      <span class="float-end goal_price">$50000</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>