
<!-- table data start -->
<section class="data-section" *ngIf="displayedDonations">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <div class="table-responsive">
                <app-loading-spinner *ngIf="isLoading" class="d-flex justify-content-center"></app-loading-spinner>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td colspan="4" class="table-active last" [translate]="'administration.last-table.last'"></td>
                            <td colspan="4" class="table-active seeAll">
                                <button class="btn btn-danger" [translate]="'administration.last-table.seeAll'"></button>
                            </td>
                        </tr>
                    </thead>
                    <thead class="text-center">
                        <tr class="t-head">
                            <th scope="col" [translate]="'administration.last-table.col1'"></th>
                            <th scope="col" [translate]="'administration.last-table.col2'"></th>
                            <th scope="col" [translate]="'administration.last-table.col3'"></th>
                            <th scope="col" [translate]="'administration.last-table.col4'"></th>
                            <th scope="col" [translate]="'administration.last-table.col5'"></th>
                            <th scope="col" [translate]="'administration.last-table.col6'"></th>
                            <th scope="col" [translate]="'administration.last-table.col7'"></th>
                            <th scope="col" [translate]="'administration.last-table.col8'"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr class="b-even" *ngFor="let don of displayedDonations">
                            <td scope="row">{{don.fname}}</td>
                            <td scope="row">{{don.lname}}</td>
                            <td scope="row">{{don.email}}</td>
                            <td scope="row">{{don.sum}}</td>
                            <td scope="row">{{don.campaign_name}}</td>
                            <td scope="row">{{don.date | date}}</td>
                            <td scope="row">
                                <button class="success" (click)="CerfaDownload(don)"><i class="fa fa-download"></i></button>
                            </td>
                            <td scope="row"><button class="view"><i class="fa fa-eye"></i> </button></td>
                        </tr>
                    </tbody>
                </table>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- table data end -->
