<div *ngIf="campaign">
    <!-- ============================================================================= -->
    <app-confetti *ngIf="maxOver"></app-confetti>
    <!-- =============================================================================== -->
    <app-presentation [campaign]="campaign"></app-presentation>
    <app-msg-box [campaign]="campaign"></app-msg-box>
    <app-association [campaign]="campaign"></app-association>
    <app-donate-box [campaign]="campaign"></app-donate-box>
    <app-timer [campaign]="campaign" [maxOver]="maxOver"></app-timer>
    <app-donator-list [campaign]="campaign"></app-donator-list>
    <app-share-banner [campaign]="campaign"></app-share-banner>
    <app-about [campaign]="campaign"></app-about>
</div>
<app-donate-share-banner *ngIf="!maxOver" [campaign]="campaign"></app-donate-share-banner>