<div class="container mt-3" *ngIf="vedette">
    <h1 class="text-center"><strong>{{'home.home-top.title' | translate}}</strong></h1>
    <div class="card mb-3" (click)="onClick(vedette._id, vedette.name)">
        <div class="row g-0">
            <div class="col-md-12 rnd">
                <img [src]="pattern_url + vedette._id" class="rounded-start" alt="card" height="100%" width="100%">
            </div>
            <div *ngFor="let dons of donations | async" [ngClass]="class == true ? 'alert-toast' : 'not-alert'" class="toast align-items-center text-white bg-primary border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-check-circle rounded me-2 col"></i><strong class="me-auto">{{dons.lname}} {{dons.fname}}</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                {{dons.message}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{dons.sum}}€
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small>Il y a {{hours}} heures</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>