@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
.card, img{
    border-radius: 20px!important;
}

h1 {
    font-family: 'Baloo Chettan 2', cursive;
}
.card:hover{
    cursor: pointer;
    // -webkit-animation: action 0.5s infinite  alternate;
    // animation: action 0.5s infinite  alternate;
    // animation: pulse-blue 2s infinite;
}

.card{
  animation: pulse-blue 2s infinite;
}


@keyframes pulse-blue {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.274);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

@-webkit-keyframes action {
    0% { transform: translateY(10); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(10); }
    100% { transform: translateY(-10px); }
}



// ==================================================================================================

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 200px;
    }
    50% {
        margin-top: 100px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 200px;
    }
    50% {
        margin-top: 100px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 200px;
    }
    50% {
        margin-top: 100px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.alert-toast {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 30s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 30s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 30s ease-in-out infinite alternate;
    // animation-name: animateBubble;
    // animation-duration: 5s;
    // animation-iteration-count: infinite;
	left: 75%;
}
.not-alert {
   display: none
}



/* OBJECTS */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.toast{
    position: absolute!important;
    opacity: 1!important;
}

.toast:after{
    position: absolute!important;
    opacity: 1!important;
}


/* progress Bar */ 

.progressWidth {
    width: 100%;
    position: relative;
  }
  .progress {
    height: 2.5em;
    border-radius: 25px;
    border: 1px solid rgb(216, 214, 214);
  }
  .progress i {
    line-height: 3.5em;
  }
  
  .progress-bar {
    width: 0;
   
    -webkit-animation: progress 6s infinite forwards;
            animation: progress 6s infinite forwards;
  }
  .progress-bar .title {
    opacity: 0;
    -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
            animation: show 0.35s forwards ease-in-out 0.5s;
  }
  
  @-webkit-keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @-webkit-keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* progress Bar */


  // animated arrow 

  @keyframes uparrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
  }
  @keyframes leftarrow {
    0% { -webkit-transform: translateX(0); opacity: 0.4 }
    100% { -webkit-transform: translateX(-0.4em); opacity: 0.9 }
  }
  @keyframes rightarrow {
    0% { -webkit-transform: translateX(0); opacity: 0.4 }
    100% { -webkit-transform: translateX(0.4em); opacity: 0.9 }
  }
  @keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
  }

@-webkit-keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}

@-webkit-keyframes leftarrow {
  0% { -webkit-transform: translateX(0); opacity: 0.4 }
  100% { -webkit-transform: translateX(-0.4em); opacity: 0.9 }
}

@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
  @-webkit-keyframes rightarrow {
    0% { -webkit-transform: translateX(0); opacity: 0.4 }
    100% { -webkit-transform: translateX(0.4em); opacity: 0.9 }
  }

.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:2em 2em 2em 2em;
  display:block;
  height:0;
  margin:2em auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
  // background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
.up {
  animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:2em solid #a6c1ee;
  // background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%) !important;
}

.left {
  animation: leftarrow 0.6s infinite alternate ease-in-out;
  border-right:2em solid #fbc2eb;
  // background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%) !important;
}

.right {
  animation: rightarrow 0.6s infinite alternate ease-in-out;
  border-left:2em solid #a6c1ee;
  // background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%) !important;
}

.down {
  animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #fbc2eb;
  // background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%)!important;
}

@media (max-width:800px) {

  #do-donation{
    width: 50%!important;
  }
  .arrow {
    border-color:transparent;
    border-width:0 2em;
  }
  .left {
    animation: uparrow 0.6s infinite alternate ease-in-out;
    border-bottom:2em solid #fbc2eb;
  }
  
  .right {
    animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top:2em solid #a6c1ee;
  }
}

#do-donation{
  margin:2em auto;
  // width: 20%;
  // flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  // text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  // box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

#do-donation:hover {
  background-position: right center; /* change the direction of the change here */
}