
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
body{
    background-color: whitesmoke;
}
h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Baloo Chettan 2', cursive;
}

.heading{
    font-size: 32px;
    font-weight: 800;
}

.box{
    padding: 15px;
    border:  1px solid rgb(108, 122, 204);
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #222;
    height: 2px;
}

.view {
    color: whitesmoke;
    background-color: #43dde6;
    border: none;
}

.success {
    color: whitesmoke;
    background-color: #17b978;
    border: none;
}