
<section class="navbar-section">

    <div class="container">
      <div class="row">
  
        <nav class="navbar fixed-top navbar-expand-md navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: #222;">LOGO</a>
            <button id="showOpen" onclick="openNav()" class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <button id="closeNav" href="javascript:void(0)" class="closebtn" onclick="closeNav()" class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <span class=""> X </span>
            </button>
  
            <div class="sidenav centerNavbar" id="mySidenav">
              <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto;">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"> <i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> <i class="fa fa-briefcase"></i> Campaigns</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> <i class="fa fa-globe"></i> How it work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-user"></i> looking for an association</a>
                </li>
                <li class="nav-item dropdown">
                  
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-language" ></i>  Language
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">  <img src="assets/image/france.png" alt=""> FRENCH</a></li>
                    <li><a class="dropdown-item" href="#"> <img src="assets/image/united-kingdom.png" alt="">ENGLISH</a></li> 
                    <li><a class="dropdown-item" href="#"><img src="assets/image/israel.png" alt="">HEBREW</a></li> 
                  </ul>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i>Sign up</a>
                </li>
              </ul>
            </div>
  
  
  
          </div>
        </nav>
        
      </div>
    </div>
  
  
   
  </section>