@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap");
body {
  background-color: whitesmoke;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Baloo Chettan 2", cursive!important;
}

.heading {
  font-size: 32px;
  font-weight: 800;
  // width: 20%;
  // flex: 1 1 auto;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}


hr {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #222;
  height: 2px;
}

.input {
  border: none;
  border-bottom: 1px solid #222;
  outline: none;
  display: none;
}

.form-box {
  border: 1px solid rgb(160, 155, 155);
  margin-top: 5%;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding-bottom: 50px;
}

.form-box h1 {
  font-size: 26px;
  padding: 10px;
  color: white;
}

// .heading {
//   background-color: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
// }

.checkbox {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  /* background-color: #430d27; */

//   border: 1px solid #430d27;

}

.checkbox input {
  cursor: pointer;
}

.checkbox label {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  color: #222;
}

.input-group-append span {
  background-color: #430d27;
  color: whitesmoke;
  font-size: 22px;
}

.input-group input:focus {
  outline: none;
}

.center-text {
  font-size: 20px !important;
  color: #222 !important;
  font-weight: 800;
}

.drp {
  width: 100%;
  height: 38px;
  border: 1px solid #b3aeb0;
  border-radius: 5px;
}

.lable {
  font-size: 18px;
}

.size {
  height: 20px;
  width: 60px;
  margin-left: 5px;
  margin-right: 50px;
  cursor: pointer;
}

.size1 {
  font-size: 16px;
  cursor: pointer;
}

.lbl {
  font-size: 16px;
  font-weight: 500;
}

.bg {
  background-color: rgb(212, 203, 203);
  padding: 7px;
  border-radius: 5px;
}
p{
    font-size: 1rem;
  }

.btnShow {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
//   color: whitesmoke;
  width: 100%;
}

#checkbox_1,
#checkbox_3,
#checkbox_5 {
text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

#checkbox_1 label,
#checkbox_3 label,
#checkbox_5 label {
  color: white;
}

@media only screen and (max-width: 800px) {
  .custome {
    padding: 0;
    margin: 0;
  }
  .checkbox {
    width: 100%;
    margin-left: 0;
  }

  .checkbox label {
    font-size: 14px;
  }
}



// INPUT WITH CURRENCY :

.input-icon {
    position: relative;
  }
  
  .input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
      font-style: normal;
  }
  
  .input-icon > input {
    padding-left: 25px;
      padding-right: 0;
  }
  
  .input-icon-right > i {
    right: 0;
  }
  
  .input-icon-right > input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
  }
  
  // ========= INPUT ======================

  .form-select:focus{
    border-color: #ced4da;
    box-shadow: none;
  }
  
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -34px;
    position: relative;
    z-index: 2;
    color: black;
    width: 18%;
    border: none;
    cursor: pointer;
  }
  
  .currency-symbol{
    font-weight: 1000;
    color: #003cff;
  
  }
  
  .login-wrapper{
    padding: 0.8375em 0;
  }
  
  .pass-wrapper{
    display: flex;
    flex-direction: row;
    align-items : center;
    overflow: hidden;
  }
  
  .input-icon{
    cursor: pointer;
  }

  // ============================== INPUT CREDIT CARD ==================================

  .cardPayment {
    display: inline;
  }
  .cardBorder {
    border: none;
    border-radius: 5px;
  }
  .cardPayment input {
    float: left;
    width: 30%;
    border: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
  }
  .cardPayment .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
  }
  .cardPayment .form-control {
    border-radius: 0px;
  }
  .cardPayment .cardNumber {
    width: 60%;
  }
  .cardPayment .cardDate {
    width: 23%;
  }
  .cardPayment .cardCVC {
    width: 17%;
  }
  
  .oddT-icon-input,
  .oddT-button-input {
    position: relative;
  }
  .oddT-icon-input i {
    position: absolute;
    left: 0px;
    top: 17px;
    font-size: 24px;
    line-height: 20px;
    color: #222;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .oddT-icon-input .oddT-text {
    padding-left: 38px;
  }
  .oddT-icon-input textarea + i {
    top: 11px;
    margin: 0;
  }
  .oddT-icon-input .oddT-text:focus + i {
    color: #ea6153;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  
  .oddT-button-input .input-btn:hover {
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-filter: Alpha(opacity=100);
  }



  // ======================================= INPUT =====================================================
// ================================== INPUT =============

.form-select:focus{
  border-color: #ced4da;
  box-shadow: none;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -34px;
  position: relative;
  z-index: 2;
  color: black;
  width: 18%;
  border: none;
  cursor: pointer;
}

.currency-symbol{
  font-weight: 1000;
  color: #003cff;

}

.login-wrapper{
  padding: 0.8375em 0;
}

.pass-wrapper{
  display: flex;
  flex-direction: row;
  align-items : center;
  overflow: hidden;
}

.input-icon{
  cursor: pointer;
}
  
  
  