<div class="container mb-5">
    <form [formGroup]="donationForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="container custome">
                    <div class="row form-box">
                        <div class="col-md-12 text-center heading">
                            <h1>1. Mon Soutien</h1>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center mt-2">
                            <div class="checkbox cursor-pointer" id="checkbox_1" (click)="onChangeMultiple(false)"
                                onclick="active('checkbox_1', 'checkbox_2')">
                                <input type="radio" name="a" id="input_checkbox_1" checked style="display: none" />
                                <label for="input_checkbox_1" id="checkbox_1lable">Je donne en une fois</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center mt-2">
                            <div class="checkbox cursor-pointer" (click)="onChangeMultiple(true)" id="checkbox_2"
                                onclick="active('checkbox_2', 'checkbox_1')">
                                <input type="radio" id="input_checkbox_2" name="a" style="display: none" />
                                <label for="input_checkbox_2" id="checkbox_2lable">Je répète mon don</label>
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">

                            <div class="form-group" *ngIf="!multiple">
                                <div class="input-icon input-icon-right">
                                    <div class="col-md-12">
                                        <input (change)="onChangeDeductionFiscale()" class="form-control rounded"
                                            name=sum type=text placeholder='0.00' autocomplete=off
                                            formControlName="sum">
                                        <select class="form-select form-select-sm field-icon currency-symbol"
                                            aria-label="Default select example"
                                            (change)="onChangeCurrency($event.target.value)">
                                            <option [value]="currency.value" [selected]="currency.selected"
                                                *ngFor="let currency of currencies" class="currency-symbol">
                                                {{currency.symbol}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="multiple">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label> Je répète mon don de </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control rounded" type=text placeholder='0.00'
                                                formControlName="sum" style="text-align:center;" autocomplete=off>
                                            <select class="form-select form-select-sm field-icon currency-symbol"
                                                aria-label="Default select example"
                                                (change)="onChangeCurrency($event.target.value)">
                                                <option [value]="currency.value" [selected]="currency.selected"
                                                    *ngFor="let currency of currencies" class="currency-symbol">
                                                    {{currency.symbol}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label> pendant</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1"
                                                    (change)="onChangeNumberMonth($event.target.value)">
                                                    <option
                                                        *ngFor="let number of [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]"
                                                        [value]="number"
                                                        [attr.selected]="selectedMonthNumber==number ? true : null">
                                                        {{number}} mois</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 mt-3 text-center">
                            <h1 class="center-text" *ngIf="!multiple">
                                Après déduction fiscale, <br />
                                votre don ne vous coute que {{(donationForm.controls['sum'].value * 0.70) | number}}€
                            </h1>

                            <h1 class="center-text" *ngIf="multiple">
                                Soit {{donationForm.controls['sum'].value*selectedMonthNumber}}€ étalés sur
                                {{selectedMonthNumber}} mois
                            </h1>

                            <hr class="m-3" />
                        </div>

                        <div class="col-md-12">

                            <p class="lable mt-3">
                                Souhaitez-vous ajouter un message ou une bénédiction ?
                            </p>
                            <textarea style="width: 100%" rows="5" placeholder="Commentaire"
                                formControlName="message"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="">
                    <div class="container custome">
                        <div class="row form-box">
                            <div class="col-md-12 text-center heading">
                                <h1>2. Mes coordonnées</h1>
                            </div>

                            <div class="col-md-12 mt-2 text-center">
                                <h1 class="center-text">
                                    Ces informations sont nécessaires pour générer le reçu cerfa de votre don
                                </h1>

                                <hr class="m-3" />
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center mt-2 mb-2">
                                <div class="checkbox" id="checkbox_3" onclick="active('checkbox_3', 'checkbox_4')">
                                    <input type="radio" style="display: none" name="b" id="input_checkbox_3" checked
                                        (click)="onChangeDonatorType('Particular')" />
                                    <label for="input_checkbox_3" id="checkbox_3lable">Particulier</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center mt-2 mb-2">
                                <div class="checkbox" id="checkbox_4" onclick="active('checkbox_4', 'checkbox_3')">
                                    <input type="checkbox" type="radio" name="b" style="display: none"
                                        id="input_checkbox_4" (click)="onChangeDonatorType('Company')" />
                                    <label for="input_checkbox_4" id="checkbox_4lable">Entreprise</label>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 mt-2 mb-2">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Email*"
                                        formControlName="email" />
                                </div>
                                <label *ngIf="!donationForm.get('email').valid && donationForm.get('email').touched"
                                    class="text-danger">
                                    Veuillez renseigner une adresse e-mail valide
                                </label>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-4 col-4 mt-2 mb-2">
                                <select class="drp">
                                    <option>M.</option>
                                    <option>Mme</option>
                                </select>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-4 col-4 mt-2 mb-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nom*"
                                        formControlName="lname" />
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-4 col-4 mt-2 mb-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Prenom*"
                                        formControlName="fname" />
                                </div>
                            </div>
                            <label
                                *ngIf="!donationForm.get('lname').valid && donationForm.get('lname').touched || !donationForm.get('fname').valid && donationForm.get('fname').touched "
                                class="text-danger">
                                La valeur d'entrée est plus courte que 2 caractères
                            </label>
                            <div class="col-md-12 col-sm-12 mt-2 mb-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Address*"
                                        formControlName="address" />
                                </div>
                                <label *ngIf="!donationForm.get('address').valid && donationForm.get('address').touched"
                                    class="text-danger">
                                    Cette valeur est obligatoire
                                </label>
                            </div>

                            <div class="col-md-6 col-sm-4 col-xs-4 col-4 mt-2 mb-2">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Code Postal*"
                                        formControlName="zip" />
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-4 col-xs-4 col-4 mt-2 mb-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Ville*"
                                        formControlName="city" />
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-4 col-xs-4 col-4 mt-2 mb-2">
                                <div class="input-group">
                                    <select class="form-select" aria-label="Default select example"
                                        (change)="onChangeCountry($event.target.value)">
                                        <option [value]="country.country_code" *ngFor="let country of countries"> {{country.country_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <label
                                *ngIf="!donationForm.get('zip').valid && donationForm.get('zip').touched || !donationForm.get('city').valid && donationForm.get('city').touched"
                                class="text-danger">
                                Ces valeurs sont obligatoire
                            </label>
                            <div class="col-md-12 col-sm-4 col-xs-4 col-4 mt-2 mb-2">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Tel"
                                        formControlName="telephone" />
                                </div>
                            </div>

                            <div class="col-md-12 mt-2 mb-2 pl-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input size" type="checkbox"
                                        (change)="onChangeAnonymous($event.target.checked)"
                                        id="flexSwitchCheckDefault" />
                                    <label class="form-check-label size1" for="flexSwitchCheckDefault">Faire un don
                                        anonyme</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 offset-md-3">
                <div class="container custome">
                    <div class="row form-box">
                        <div class="col-md-12 text-center heading">
                            <h1>3. Mon reglement</h1>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center mt-2 mb-2">
                            <div class="checkbox cursor-pointer" id="checkbox_5"
                                onclick="active('checkbox_5', 'checkbox_6')"
                                (click)="onChangePaymentType('creditCard', false)">
                                <input type="radio" name="c" id="input_checkbox_5" style="display: none" checked />
                                <label for="input_checkbox_5" id="checkbox_5lable">Carte Bancaire</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center mt-2 mb-2">
                            <div class="checkbox cursor-pointer" id="checkbox_6"
                                onclick="active('checkbox_6', 'checkbox_5')"
                                (click)="onChangePaymentType('transfer', true)">
                                <input type="radio" name="c" id="input_checkbox_6" style="display: none" />
                                <label for="input_checkbox_6" id="checkbox_6lable">Virement</label>
                            </div>
                        </div>

                        <div class="col-md-12 mt-2 text-center">
                            <h1 class="center-text"><i style="color:#00FF00" class="fa fa-lock fa-lg"></i> Paiement 100%
                                sécurisé par <i class="fa fa-cc-stripe fa-lg"></i></h1>

                            <hr class="m-2" />
                        </div>

                        <div class="col-md-12 mt-2 mb-2">
                            <div class="bg">
                                <p id="details" *ngIf="association">
                                    Nom officiel de I'association: {{association.associationName}}
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 mt-2 mb-2">
                            <div class="col-md-12 cardBorder" *ngIf="!transfer">
                                <label class="lbl">Carte de credit ou de debit</label>
                                <div class="cardPayment">
                                    <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions">
                                    </ngx-stripe-card>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="transfer">
                                <div class="input-group mb-3"><input type="text" class="form-control" placeholder="Nom du titulaire du compte*" formControlName="name_account" /></div>
                                <div class="input-group mb-3"><input type="email" class="form-control" placeholder="Email du titulaire du compte*" formControlName="email_account"/></div>
                                <label class="lbl mb-3">IBAN</label>
                                <!-- <div class="input-group mb-3"><input type="text" class="form-control" placeholder="FR00 0000 0000 0000 0000 0000 000" formControlName="iban"/></div> -->

                                <ngx-stripe-iban [options]="ibanOptions" [elementsOptions]="elementsOptions"></ngx-stripe-iban>
                            </div>
                        </div>

                        <app-loading-spinner *ngIf="isLoading" class="d-flex spinner"></app-loading-spinner>

                        <div class="col-md-12 mt-3">
                            <button type="submit" class="btn btnShow btn-lg btn-block">
                                Valider ({{donationForm.controls['sum'].value}}€)
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>