@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
// body{
//     background-color: whitesmoke;
// }
//    /* footer */
//     .footer-dark {
//       padding: 30px 0;
//       margin: 50px 60px;
//       color: #f0f9ff;
//       background-image: linear-gradient(to right, #E81F7A, #662D91);
//       border-radius: 18px;
//       font-family: 'Raleway', sans-serif;

// h1,h2,h3,h4,h5,h6,p,span{
//   font-family: 'Raleway', sans-serif;
// }
//       .row {
//         justify-content: space-evenly;
//       }
//       .col-md-4 {
//         width: 25%;
//       }
//    }
 
//    .footer-dark .item h3 {
//      margin-top: 0;
//      margin-bottom: 12px;
//      font-size: 20px;
//      color: white;
//      text-decoration: underline;
//    }
 
//    .footer-dark ul {
//      padding: 0;
//      list-style: none;
//      line-height: 1.6;
//      font-size: 16px;
//      margin-bottom: 0;
//    }
//    .footer-dark ul li{
//      padding: 5px 0px;
//    }
 
//    .footer-dark ul a {
//      color: white;
//      text-decoration: none;
//    }
 
//    .footer-dark ul a:hover {
//      opacity: 0.8;
//    }

//    .footer-qr-code {
//       width: 200px;
//       height: 200px;
//       display: inline-flex;
//    }
 
//    @media (max-width:767px) {
//      .footer-dark .item:not(.social) {
//        text-align: center;
//        padding-bottom: 20px;
//      }
//    }
 
//    .footer-dark .item.text {
//      margin-bottom: 36px;
//    }
 
//    @media (max-width:767px) {
//      .footer-dark .item.text {
//        margin-bottom: 0;
//      }
//    }
 
//    .footer-dark .item.text p {
//      opacity: 0.6;
//      margin-bottom: 0;
//    }
 
//    .footer-icones-contacts {
//       a {
//         text-decoration: none;
//         color: white;
//       }
//       margin-top: 35px;
//    }

//    .footer-icone-contact {
//       height: 30px;
//       margin-bottom: 10px;
//       img {
//         height: -webkit-fill-available;
//         margin-right: 20px;
//       }
//    }
 
//    @media (max-width:991px) {
//      .footer-dark .item.social {
//        text-align: center;
//        margin-top: 20px;
//      }
//    }
 
//    .footer-dark .item.social>a {
//      font-size: 20px;
//      width: 36px;
//      height: 36px;
//      line-height: 36px;
//      display: inline-block;
//      text-align: center;
//      border-radius: 50%;
//      box-shadow: 0 0 0 1px #d91483;
//      margin: 5px 8px;
//      color: #fff;
//    }
 
//    .footer-dark .item.social>a:hover {
//      opacity: 0.9;
//      color: #d91483;
//    }
 
//    .footer-dark .copyright {
//      text-align: center;
//      padding-top: 24px;
//      opacity: 0.3;
//      font-size: 13px;
//      margin-bottom: 0;
//    }




// ========================================================================================================
// ========================================================================================================
// ========================================================================================================
// ========================================================================================================
// ========================================================================================================
// ========================================================================================================
// ========================================================================================================

body {
  background-color: whitesmoke;
}

h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Raleway', sans-serif;
}

.footerImg{
  margin-top: 40px;
  text-align: center;
}
/* footer */
.footer-dark {  
  padding: 50px 0 0;
  color: #f0f9ff;
  z-index: 99999;
}
.footerBgc{
  background-image: linear-gradient(to right, #E81F7A, #662D91);
  padding: 30px 40px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-family: 'Raleway', sans-serif;
}
.row {
  // .social-row {
  //   display: flex;
  //   flex-direction: column;
  //   a {

  //   }
  // }
  .quick-link-row {
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 1rem;
    }
    @media (max-width: 767px) {
      img {
        align-self: center;
      }
    }
  }
}
.footer-dark .item a {
  margin-top: 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
}
.footer-dark .item p {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}
.footer-dark ul li {
  padding: 5px 0px;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 1;
  margin-bottom: 0;
}

.footer-dark .item.social {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
    opacity: 1;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: #d91483;

  background-color: #fff;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
  color: #d91483;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/* social icons */

.site-footer .social-icons a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 6px;
  margin-right: 0;
  background-color: #33353d;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 25px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
.bottomSocial a i{
  color: #222;
}