<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!-- <footer> -->
<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
<!--headin5_amrc-->
<p class="mb10">Tsedacall makes it easy and safe for you to give to local projects anywhere in the world, while providing nonprofits with the tools, training, and support they need to thrive.</p>
<p><i class="fa fa-location-arrow"></i> Paris-France </p>
<p><i class="fa fa-phone"></i>  +33-634678965  </p>
<p><i class="fa fa fa-envelope"></i> contact@tsedacall.com  </p>

<div class ="logo">
    <img src="logo_small.png" alt="">
    
</div>

</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Core Values</a></li>
<li><a href="http://webenlance.com">Why Join?</a></li>
<li><a href="http://webenlance.com">Start a Fundraiser</a></li>
<li><a href="http://webenlance.com">Project of the Month Club</a></li>
<li><a href="http://webenlance.com">Our Partners</a></li>
<li><a href="http://webenlance.com">Contact Us</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Customized Donation Website</a></li>
<li><a href="http://webenlance.com">Tsedacall Creative</a></li>
<li><a href="http://webenlance.com">Capital Campaign</a></li>
<li><a href="http://webenlance.com">Live Chat</a></li>
<li><a href="http://webenlance.com">Live Campaigns</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>New campaigns, New goals...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-linkedin fleft padding-right"></i> </a><p>Tzedakah saves from death...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-instagram fleft padding-right"></i> </a><p>New campaign beats the records...<a href="#">https://www.lipsum.com/</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="http://tsedacall.com">Home</a></li>
<li><a href="http://tsedacall.com">About</a></li>
<li><a href="http://tsedacall.com">Campaigns</a></li>
<li><a href="http://tsedacall.com">Associations</a></li>
<li><a href="http://tsedacall.com">Testimonials</a></li>
<li><a href="http://tsedacall.com">Contact</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->

<ul class="social_footer_ul">
<li><a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
</ul>

</div>

</footer>

<!-- <li *ngFor= 'let flag of flags' (click)="useLanguage(flag.countryCode)" class="cursor-pointer">
    <a><span class={{flag.class}}></span></a>
</li> -->