<!-- <section class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 item text">
            <h3 [translate]="'footer.Find-us'"></h3>
            <ul>
              <li><a [translate]="'footer.Summary'"></a></li>
            </ul>
          </div>
          
          <div class="col-md-4 item text">
            <h3 class="text" [translate]="'footer.Follow-us'"></h3>
            <div class="col item social">
              <a href="#"><i class="icon ion-social-facebook"></i></a>
              <a href="#"><i class="icon ion-social-twitter"></i></a>
            </div>
            <div class="col item social">
              <a href="#"><i class="icon ion-social-snapchat"></i></a>
              <a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>

            <div class="footer-icones-contacts">
              <div class="footer-icone-contact">
                <a href="#"><img src="../../../assets/image/footer/PNG YAACOV ICONE-20.png"></a>
                <a href="#">Paris-France</a>
              </div>
              <div class="footer-icone-contact">
                <a href="#"><img src="../../../assets/image/footer/PNG YAACOV ICONE-22.png"></a>
                <a href="#">+33-634678965 </a>
              </div>
              <div class="footer-icone-contact">
                <a href="#"><img src="../../../assets/image/footer/@_icone.png"></a>
                <a href="#">contact@tsedacall.com</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 item text">
            <h3 [translate]="'footer.Quick-links'"></h3>
            <ul>
              <li style="text-decoration: underline;"><a [translate]="'navbar.HowItWork'"></a></li>
              <li style="text-decoration: underline;"><a [translate]="'footer.Contact'"></a></li>
            </ul>
            <div class="footer-qr-code"><img src="../../../assets/image/footer/qrCode Tsedacall.png"></div>
          </div>

        </div>
      </div>
    </footer>
  </section> -->


  <section class="footer-dark">
    <!-- TODO : ADD IF FOR THIS IMAGE IN CAMPAIGN PAGE -->
    <!-- <div class="footerImg">
      <img src="../../assets/image/footer/people_group.png" width="80%" alt="">
    </div> -->
    <footer>
      <div class="container footerBgc">
        <div class="row">
          <div class="col-md-4 item text-left">
            <a href="" [translate]="'footer.Find-us'"></a>
            <ul>
              <li><a [translate]="'footer.Summary'"></a></li>
            </ul>
          </div>
          <div class="col-md-4 item">
            <a href="" [translate]="'footer.Follow-us'"></a>
            <div class="col item social">
              <a href="#"><i class="icon ion-social-facebook"></i></a>
              <a href="#"><i class="icon ion-social-twitter"></i></a>
              <br>
              <a href="#" class="mt-3"><i class="icon ion-social-instagram"></i></a>
              <a href="#" class="mt-3"><i class="icon ion-social-snapchat"></i></a>
            </div>
            <div class="col item social bottomSocial">
              <a href="#" class="mt-3"><i class="fa fa-map-marker"></i></a> <span>Paris-France </span><br>
              <a href="#" class="mt-3"><i class="fa fa-phone"></i></a> <span>+33-634678965</span> <br>
              <a href="#" class="mt-3"><i class="fa fa-at"></i></a> <span>contact@tsedacall.com</span> <br>
            </div>
          </div>
          <div class="col-md-4 item text quick-link-row">
            <a [translate]="'footer.Quick-links'" class="#"></a>
            <a href="" [translate]="'navbar.HowItWork'"></a>
            <a href="" [translate]="'footer.Contact'"></a> 
            <img class="mt-3" width="200" height="200" src="./assets/image/footer/qrCode.png" alt="">
          </div>
        </div>
      </div>
    </footer>
  </section>