<div class="container mt-5" id="payDiv">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Je fais un don pour World Youth Leaders</h1>
        <img src="assets/image/donation.png" alt="" />
      </div>
  
      <div class="col-md-12 text-center">
        <h1>Choisissex le montant de votre participation:</h1>
      </div>
  
      <div class="col-md-4 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-color btn-lg btn-block form-control"
          >
            20 $
          </button>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-color btn-lg btn-block form-control"
          >
            200 $
          </button>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-color btn-lg btn-block form-control"
          >
            300 $
          </button>
        </div>
      </div>
      <div class="col-md-4 mt-5 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-color btn-lg btn-block form-control"
          >
            400 $
          </button>
        </div>
      </div>
      <div class="col-md-4 mt-5 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-color btn-lg btn-block form-control"
          >
            500 $
          </button>
        </div>
      </div>
      <div class="col-md-4 mt-5 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-color btn-lg btn-block form-control"
          >
            600 $
          </button>
        </div>
      </div>
  
      <div class="offset-3 col-md-6 text-center mt-5">
        <div class="form-group">
          <label for="" class="lable-text">Autre Montant:</label>
          <input
            type="number"
            class="form-control"
            placeholder="Autre Montant:"
          />
        </div>
      </div>
  
      <div class="col-md-6 text-end mt-5">
        <div class="form-group">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Je Donne en wne fols</label
          >
        </div>
      </div>
  
      <div class="col-md-6 text-start mt-5">
        <div class="form-group">
          <input type="checkbox" class="form-check-input" id="exampleCheck2" />
          <label class="form-check-label" for="exampleCheck2"
            >Je Donne en plusesurs wne fols</label
          >
        </div>
      </div>
  
      <div class="offset-3 col-md-6 text-center mt-5">
        <div class="form-group">
          <label for="" class="lable-text">Selection de mois:</label>
  
          <select class="form-control" id="exampleFormControlSelect1">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </div>
      </div>
  
      <div class="offset-3 col-md-6 text-center mt-5">
        <div class="form-group">
          <button
            onclick="hide()"
            type="button"
            class="btn btn-color btn-lg btn-block form-control"
          >
            Envoyer Le Don
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mt-5" id="done" style="display: none">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mt-5">
          <h1>Je fais un don pour World Youth Leaders</h1>
          <img src="assets/image/checked.png" alt="" />
        </div>
  
        <div class="offset-3 col-md-6 text-center mt-5 mb-5">
          <div class="form-group">
            <button
              onclick="hide()"
              type="button"
              class="btn btn-color btn-lg btn-block form-control"
            >
              Thanks for your Support !
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  