
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
body{
    background-color: whitesmoke;
}
h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Baloo Chettan 2', cursive;
}
.navbar-section{
  height: 80px;
}
.navbar{
  padding: 18px 0px;
  background-color: #fff;
  height: 80px;
  box-shadow: 5px -3px 6px 4px #776d6d;
}
.centerNavbar{
  margin: auto;
}
.navbar-brand{
  font-size: 24px;
  font-weight: 800px;
  left: 20%;
  color: #3F51B5;
}
.nav-link {
  font-size: 18px;
  font-weight: 500;
}
/* .nav-link:hover{
 border-bottom: 1px solid #d91483;
} */
.banner-section{
 background-image: url("/assets/image/back1.jpg");  
   background-color: #fff;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   height: 100vh;
   width: 100%;
   padding: 20px 0px;
}
/* navbar */
.navbar-nav li{
   margin-left: 3px;
}
.navbar-nav li a{
    font-size: 16px;
    text-transform: uppercase;
    color: #222;
}
.navbar-nav li a:hover{
  color: rgb(233, 22, 75);
}
.image-section {
     height: 100vh;
}
.banner-set{
  padding-top: 80px;
}
.banner-img img{
  width: 100%;
  height: 80%;
}
.full-banner {
     position: relative;
     text-align: center;
     color: white;
}
 
.centered {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}
 .centered h1 {
  color: rgb(233, 22, 75);
  font-size: 34px;
  font-weight: bolder;
 
  letter-spacing: 2px;
}
.h1_1st{
  margin-bottom: 0px;
  font-family: 'Otomanopee One', sans-serif;
}
.h1_2nd{
  margin-top: 0px;
  font-family: 'Otomanopee One', sans-serif;
}
 .card-section{
   padding: 50px 0px;
 }
 
   .carousel-wrap {
     margin: 90px auto;
     padding: 0 5%;
     width: 80%;
     position: relative;
   }
 
   /* fix blank or flashing items on carousel */
   .owl-carousel .item {
     position: relative;
     z-index: 100;
     -webkit-backface-visibility: hidden;
   }
 
   /* end fix */
   /* .owl-nav>div {
     margin-top: -26px;
     position: absolute;
     top: 50%;
     color: #cdcbcd;
   }
 
   .owl-nav i {
     font-size: 52px;
   }
 
   .owl-nav .owl-prev {
     left: -30px;
   }
 
   .owl-nav .owl-next {
     right: -30px;
   } */
 .team-section{
   padding: 80px 0px;
   text-align: center;
   background-color: #107598;
   margin-bottom: 150px;
 }
 
 .team-section button{
   height: auto;
   text-align: center;
 }
 .team-section .team h1{
   /* color: #222; */
 text-transform: uppercase;
 font-size: 25px;
 }
 .team-section .team button{
   color: whitesmoke;
   border-radius: 8px;
   padding: 5px 30px;
   border: 2px solid #d91483;
 }
 .team-section .team button:hover{
   background-color: #d91483;
   color: #cccccc;
 }
 .team-section .association h1{
   /* color: #222; */
   text-transform: uppercase;
   font-size: 25px;
 }
 .team-section .association button{
   color: whitesmoke;
   border-radius: 8px;
   padding: 5px 30px;
   border: 2px solid #d91483;
 }
 .team-section .association button:hover{
   background-color: #d91483;
   color: #cccccc;
 }
.slider-section{
  padding: 30px 0px;
  /* background-color: #282d32; */
}
.slider-section .card{
  padding: 20px 10px;
  height: 460px;
  border-radius: 8px;
  background-color: #fff;
}

.slider-section .card:hover{
  transition: all .2s ease-in-out;
}

 .carouselBox img{
   width: 120px;
   height: 120px;
   text-align: center;
   justify-content: center;
   margin-left: 50%;
   transform: translate(-50%,0);
 }
.carouselBox a{
  color: #000;
  border-radius: 8px;
  padding: 5px 30px;
  border: 2px solid #d91483;
}
.carouselBox a:hover{
  background-color: #d91483;
  color: #cccccc;
}
.carouselBox h2{
  color: #d91483;
  font-weight: 500;
}
   /* footer */
   .footer-dark {
     padding: 50px 0;
     color: #f0f9ff;
     background-color: #282d32;
   }
 
   .footer-dark .item h3 {
     margin-top: 0;
     margin-bottom: 12px;
     font-weight: bold;
     font-size: 20px;
     color: #d91483;
   }
 
   .footer-dark ul {
     padding: 0;
     list-style: none;
     line-height: 1.6;
     font-size: 16px;
     margin-bottom: 0;
   }
   .footer-dark ul li{
     padding: 5px 0px;
   }
 
   .footer-dark ul a {
     color: inherit;
     text-decoration: none;
     opacity: 0.6;
   }
 
   .footer-dark ul a:hover {
     opacity: 0.8;
   }
 
   @media (max-width:767px) {
     .footer-dark .item:not(.social) {
       text-align: center;
       padding-bottom: 20px;
     }
   }
 
   .footer-dark .item.text {
     margin-bottom: 36px;
   }
 
   @media (max-width:767px) {
     .footer-dark .item.text {
       margin-bottom: 0;
     }
   }
 
   .footer-dark .item.text p {
     opacity: 0.6;
     margin-bottom: 0;
   }
 
   .footer-dark .item.social {
     text-align: center;
   }
 
   @media (max-width:991px) {
     .footer-dark .item.social {
       text-align: center;
       margin-top: 20px;
     }
   }
 
   .footer-dark .item.social>a {
     font-size: 20px;
     width: 36px;
     height: 36px;
     line-height: 36px;
     display: inline-block;
     text-align: center;
     border-radius: 50%;
     box-shadow: 0 0 0 1px #d91483;
     margin: 0 8px;
     color: #fff;
     opacity: 0.75;
   }
 
   .footer-dark .item.social>a:hover {
     opacity: 0.9;
     color: #d91483;
   }
 
   .footer-dark .copyright {
     text-align: center;
     padding-top: 24px;
     opacity: 0.3;
     font-size: 13px;
     margin-bottom: 0;
   }
.box{
    /* border: 2px solid #222; */
    padding: 20px 0px;
    background-color: #107598;
   
    /* box-shadow: 2px 2px 6px 1px #9f9a9a; */
    border-radius: 10px;
    height: 250px;
    cursor: pointer;
}
.box i{
    font-size: 80px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.box  h1{
  color: whitesmoke;
}
.PcCard .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 2px 5px 6px 1px rgb(218, 211, 211);
  border-radius: 30px;
}
.slider-section .card:hover{
  border: 2px solid #fc5c9c;
}
.btn-outline-danger{
  padding: 10px;
  border-radius: 5px;
  color: #fc5c9c;
  border-color: #fc5c9c;
  margin-left: 30%;
  font-size: 24px;
  font-weight: 500;
}

.btn-outline-danger:hover{
   background-color: #fc5c9c;
   color: whitesmoke
}



.card-title{
  font-size: 24px;
}

.font_Roboto{
  font-weight: 600;
  border-bottom: 1px dotted #000;
  color: #fc0b4b;
}

.card-body{
  cursor: pointer;
}

.card-text{
  font-size: 16px;
 
}

.markerH4{
  color: #3b4244;
  font-size: 18px;
}


.box:hover{
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

.fa{
  margin-left: 10px;
}

.textBox h1{
  color: whitesmoke;
}

.textBox i{
  font-size: 80px;
  margin-bottom: 10px;
  color:whitesmoke;
}

.collectedPrice{
  margin-top: 20px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
}

.goal{
  margin-left: 10px;
  color: gray;
  font-size: 16px;
  font-weight: 400;
}

.goal_price{
  color: gray;
  font-size: 16px;
  font-weight: 400;
}
.mobileCard{
  display: none;
}
@media (max-width:900px) {
  .centered{
    position: relative;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    margin-bottom: 100px;
  }
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: auto;
}
.PcCard{
  display: none;
}
.mobileCard{
  display: block;
}
}

#closeNav{
  display: none;
}
@media (max-width:800px) {
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: auto;
}
}


/* .owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -2rem;
}

.owl-next {
  right: -2rem;
} */

.rnd img{
  border-radius: 30px 30px 30px 30px !important;
}



// =============================================================================================================
// =============================================================================================================
// =============================================================================================================
// =============================================================================================================
// =============================================================================================================
// =============================================================================================================
// =============================================================================================================
// =============================================================================================================
// =============================================================================================================
// =============================================================================================================
// =============================================================================================================


img {
  max-height: 120px;
}

body, button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
body, input {
	color: #171717;
}
body, .search-bar {
	display: flex;
}
body {
	background: #f1f1f1;
	height: 100vh;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}