<section class="card-section" id="campaign-section">
  <div class="container">
    <form action="" class="search-bar">
      <input type="search" name="search" pattern=".*\S.*" [(ngModel)]="searchText" required>
      <button class="search-btn" type="submit">
        <span>Search</span>
      </button>
    </form>


    <div class="row mobileCard">
      <div class="col-md-12">
        <owl-carousel-o [options]="customOptionsMobile">
          <ng-template carouselSlide *ngFor="let campaign of campaigns | async | searchFilter: searchText">
            <div class="card mb-3" (click)="onClick(campaign.associationName, campaign.name)">
              <div class="row g-0">
                <div class="col-md-6">
                  <img [src]="pattern_url + campaign._id" class="rounded-start" alt="card" height="100%" width="100%">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h2 class="card-title font_Roboto">{{campaign.name}}</h2>
                    <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i>{{campaign.associationName}}
                    </h4>

                    <h4 class="collectedPrice">{{campaign.totalSum}}€</h4>
                    
                  <div class="progressWidth">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [aria-valuenow]="(campaign.totalSum/campaign.goal)*100 | number" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'max-width': (campaign.totalSum/campaign.goal)*100 + '%'}" style="border-radius: 25px">
                        <span class="title" *ngIf="campaign.goal">{{(campaign.totalSum/campaign.goal)*100 | number}}%</span>
                      </div>
                    </div>
                  </div>


                    <div class="row">
                      <div class="col-md-6">
                        <span class="goal" [translate]="'home.campaign-list.goal'"></span>
                      </div>
                      <div class="col-md-6 ">
                        <span class="float-end goal_price" *ngIf="campaign.goal">{{campaign.goal}}€</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="row PcCard">
      <div class="col-md-6" *ngFor="let campaign of campaigns | async | searchFilter: searchText">
        <div class="card mb-1 cursor-pointer" (click)="onClick(campaign.associationName, campaign.name)">
          <div class="g-0">
            <div class="col-md-12 rnd ">
              <img [src]="pattern_url + campaign._id" class="rounded-start" alt="card" height="100%" width="100%">
            </div>
            <div class="col-md-12">
              <div class="card-body">
                <h2 class="card-title font_Roboto">{{campaign.name}}</h2>
                <h4 class="markerH4"><i class="fa fa-map-marker" aria-hidden="true"></i>{{campaign.associationName}}</h4>

                <h4 class="collectedPrice">{{campaign.totalSum}}€</h4>
                <div class="progressWidth">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [aria-valuenow]="(campaign.totalSum/campaign.goal)*100 | number" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'max-width': (campaign.totalSum/campaign.goal)*100 + '%'}" style="border-radius: 25px">
                      <span class="title" *ngIf="campaign.goal">{{(campaign.totalSum/campaign.goal)*100 | number}}%</span>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="campaign.goal">
                  <div class="col-md-6">
                    <span class="goal" [translate]="'home.campaign-list.goal'"></span>
                  </div>
                  <div class="col-md-6 ">
                    <span class="float-end goal_price">{{campaign.goal}}€</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>