
<section class="team-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-2">
          <div class="textBox">
            <i class="fa fa-bullhorn"></i>
            <h1 class="text-center">I CHOOSE MY CAMPAIGN<br>
              I CREATE MY TEAM </h1>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="box team">
            <i class="fa fa-users"></i>
            <h1 class="text-center">Create my Team</h1>
            <button class="btn">TEAM</button>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="box association">
            <i class="fa fa-user"></i>
            <h1 class="text-center">Looking for an association</h1>
            <button class="btn">ASSOCIATION</button>
          </div>
        </div>
      </div>
    </div>
  </section>