<header>
    <div class="left_area">
        <h3>Tsedacall <span>Lev Association</span></h3>
    </div>
<div class="right_area"> 
    <a href ="#" class= "logout_btn">Logout</a>
</div>
</header>

<div class="sidebar">
  
        <img src = "levtov.png">
  
</div>












<br><br><br><br> <div class= "textfirst"> 
  <h1>Je veux : </h1> </div>
<div class = "wrapper">
   

  
    <div class = "center">
      <div class = "button-wrap">
        <button class = "rad-button warning flat">Ajouter <br>Un Don</button>
      </div>
  
      <div class = "button-wrap">
        <button class = "rad-button danger flat">Chercher/Modifier <br> CERFA</button>
      </div>
  
      <div class = "button-wrap">
        <button class = "rad-button good flat">Chercher <br> Un Donnateur </button>
      </div>
  
      <div class = "button-wrap">
        <button class = "rad-button wwt flat">Modifier <br> Ma Page De Campagne</button>
      </div>
    </div>
  </div><!--wrapper-->
    
  

<!-- <div>  Exporter   </div>  -->
<div class="excel">  
  <h1> Exporter  Vers   Un   Fichier   Excel : </h1>
</div>
<br>

<button class="btn btn1">Liste des dons</button>
<button class="btn btn2">Liste des donateurs</button>
<button class="btn btn3">Emails des donateurs</button>
<button class="btn btn4">Numero tel donateurs</button>