/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Commissioner');
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@import '~ngx-sharebuttons/themes/circles/circles-dark-theme';
body {margin: 0;
  overflow-x: hidden!important;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Commissioner"!important;
  }

  h1, p{
    font-family: "Commissioner"!important;
  }


.cursor-pointer{
  cursor: pointer;
}

.home-section {
  padding: 80px 0;
  .ngucarousel {
    overflow: visible !important;
    .ngu-touch-container {
      padding: 1.25rem 0;
      overflow: hidden;
    }
  }
}

.home-section mat-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}
.home-section-action {
  padding: 2.5rem 0 0;
}

.spinner{
  position: absolute;
  left: 50%;
  top: 50%;
}


