<!-- <div class="area"></div>
<nav class="main-menu">
  <ul>
    <li class="text-center">
      <img [src]="pattern_url + association._id" width="40px" height="40px" alt="" />
      <h3 class="mt-3" style="color: aliceblue">{{association.associationName}}</h3>
    </li>
    <li>
      <a routerLink="/administration">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text"> Dashboard </span>
      </a>
    </li>
    <li class="has-subnav">
      <a routerLink="/administration/add">
        <i class="fa fa-plus fa-2x"></i>
        <span class="nav-text"> Add a Donation </span>
      </a>
    </li>
    <hr />
    <li class="has-subnav">
      <a routerLink="/administration/search">
        <i class="fa fa-eye fa-2x"></i>
        <span class="nav-text"> My Donation </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-users fa-2x"></i>
        <span class="nav-text"> My Donors </span>
      </a>
    </li>
    <hr />
    <li>
      <a href="#">
        <i class="fa fa-object-group fa-2x"></i>
        <span class="nav-text"> My Tsedacall Page </span>
      </a>
    </li>
    <hr />
    <li>
      <a  routerLink="/administration/modif">
        <i class="fa fa-anchor fa-2x"></i>
        <span class="nav-text"> All my campaigns </span>
      </a>
    </li>
    <hr />
    <li>
      <a routerLink="/administration/config">
        <i class="fa fa-cog fa-2x"></i>
        <span class="nav-text"> My Association </span>
      </a>
    </li>
    <hr />
    <li>
      <a href="#">
        <i class="fa fa-bar-chart fa-2x"></i>
        <span class="nav-text"> Statistics </span>
      </a>
    </li>
  </ul>
</nav> -->
