@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap");

/* first_div */

.first_div {
  margin: 20px 0px;
  cursor: pointer;
}

.bg-dark-blue {
  background-color: rgb(45, 108, 223);
  color: white;
}

.banner-dark-blue {
  padding-top: 15px;
}

@media (min-width:800px) {
  .btn-dark-blue {
    width: 5%;
  }
}

@media (max-width:800px) {
  .btn-dark-blue {
    margin-top: 3%;
  }
}



.btn-dark-blue:hover {
  background-color:rgba(26, 59, 122, 0.3);
}


.bg-light-blue {
  background-color: #c5e3f6;
  color: black;
  padding-top: 15px;
}

.bg-dark-blue h1 {
  font-family: "Otomanopee One", sans-serif;
}
.bg-light-blue h1 {
  font-family: "Otomanopee One", sans-serif;
}

/* first_div */

/* 2nd div */

label {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 20px;
}

.custome-btn {
  background-color: #17b978;
  color: white;
  border: none;
}
/* 2nd div */
