.d-flex span {
    margin-top:5px;
  }
  
  .d-flex span .login, .d-flexspan .signup {
    color:#d9d9d9;
    margin-right:1.5rem;
    text-decoration:none;
  }
  .d-flex span .login:hover, .d-flex span .signup:hover{
    color:#fff;
  }

  .d-flex span .action-button {
    background:#208f8f;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
  }
  
  .d-flex span .action-button:hover {
    background:#269d9d;
  }
  
  .d-flex span .form-inline label {
    color:rgb(110, 107, 107);
  }
  