#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    padding: 80px 0px;
    width: 100%;
  }
  .number-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .number-list .item {
    width: 60px;
    height: 60px;
    background: rgb(167, 72, 162);
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
  }
  .unit-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .unit-list .item {
    width: 60px;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: rgb(167, 72, 162);;
    font-weight: 500;
    font-family: sans-serif;
  }
  
  .timer-end {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #006741;
    font-weight: 700;
    font-family: sans-serif;
  }
  