  <section class="slider-section">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let media of carouselItems">
        <div class="card carouselBox" style="width: 100%;">
          <img [src]="pattern_url + campaign._id + '/' + media" class="text-center" alt="...">
        </div>
      </ng-template>
      <!-- <ng-template carouselSlide>
        <div class="card carouselBox" style="width: 100%;">
          <iframe class="embed-responsive-item" [src]="pattern_url + campaign._id + + '/' + media" allowfullscreen></iframe>
            alt="...">
        </div>
      </ng-template> -->
    </owl-carousel-o>
  </section>
