<!-- <section class="home-section home-cta" *ngIf="campaign">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h1>{{campaign.name}}</h1>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="text-center">
          <p>{{campaign.description}}</p>
        </div>
      </div>
    </div>
  </section> -->

  <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
    <div *nguCarouselDef="let media;" class="item">
      <div class="tile" [ngStyle]="{'background': 'url(' + pattern_url + campaign._id + '/' + media + ') no-repeat center center'}"></div>
    </div>
  </ngu-carousel>
