.home-cta {
    background: url('/assets/images/home-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // background-color: #c9c0c0;
    color: #ffffff;
  }

p{
    line-height: 1.6;
    letter-spacing: 1px;
    color: black;
    font-size: 15px;
}

h1{
    margin: 0 0 30px;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
}

  @keyframes separator-width {
    0% {
      width: 0;
    }
    100% {
      width: 60%;
    }
  }

  hr {
    width: 0%;
    min-width: 20%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5%!important;
    border: none;
    border-bottom: 1.5px solid black;
    position: relative;
    transition: box-shadow 200ms ease-in-out;
    box-shadow: 0px 0px 0px 0px #f9f9f9;
    animation: separator-width 1s ease-out forwards;

  }