.chart-section{
    padding: 80px 0px;
}

.chart-wrapper{
    box-shadow: 2px 5px 6px 1px rgb(218, 211, 211);
}

.price{
    font-size: 36px;
    font-weight: 700;
    color: rgb(167, 72, 162);
}

.rsdAmt{
    color: rgb(142, 154, 155);
}

.amountBox{
    padding-top: 5%;
 
    border-radius: 5px;
}