.chart-section{
    padding: 80px 0px;
}

.chart-wrapper{
    box-shadow: 2px 5px 6px 1px rgb(218, 211, 211);
}

.price{
    font-size: 36px;
    font-weight: 700;
    color: rgb(167, 72, 162);
}

.rsdAmt{
    color: rgb(142, 154, 155);
}

.amountBox{
    padding-top: 5%;
 
    border-radius: 5px;
}

/* progress Bar */ 

.progressWidth {
    width: 100%;
    position: relative;
  }
  .progress {
    height: 2.5em;
    border-radius: 25px;
    border: 1px solid rgb(216, 214, 214);
  }
  .progress i {
    line-height: 3.5em;
  }
  
  .progress-bar {
    width: 0;
   
    -webkit-animation: progress 6s infinite forwards;
            animation: progress 6s infinite forwards;
  }
  .progress-bar .title {
    opacity: 0;
    -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
            animation: show 0.35s forwards ease-in-out 0.5s;
  }
  
  @-webkit-keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @-webkit-keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* progress Bar */