<section class="chart-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 amountBox" *ngIf="campaign">
                <h1 class="text-center price">{{campaign.totalSum}}€</h1>
                <h2 class="text-center rsdAmt">Raised Amount</h2>
               
                <div class="progressWidth">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [aria-valuenow]="(campaign.totalSum/campaign.goal)*100 | number"
                            aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{'max-width': (campaign.totalSum/campaign.goal)*100 + '%'}" style="border-radius: 25px">
                            <span class="title" *ngIf="campaign.goal">{{(campaign.totalSum/campaign.goal)*100 | number}}%</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h3 class="text-center float-end mt-4" *ngIf="campaign.goal">Goal: {{campaign.goal}}€</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</section>