<section class="banner-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="centered">
            <h1 class="h1_1st">{{'home.home-intro.title-first' | translate}}</h1> 
            <h1 class="h1_2nd">{{'home.home-intro.title-second' | translate}}</h1>
            <button class="btn btn-outline-danger">{{'form.GetStarted' | translate}}</button>
          </div>
        </div>
        <div class="col-md-6 banner-img">
          <img style="margin-top: 10%;" src="assets/image/abc.svg" alt="">
        </div>
      </div>
    </div>
  </section>