<body>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Montant</th>
          <th>Moyen</th>
          <th>Cerfa</th>
          <th>Voir</th>
          <th>Modifier</th>


    
        </tr>
      </thead>
     
    <tr> <td><a href="#">1</a></td>
            <td>Benillouche</td>
            <td>Leah</td>
            <td>385 $ <br> Total : 5 0005 $
            </td>          
            <td>Don mensuel - Reste 6 mois</td>
            <td><i class="far fa-file-alt"></i></td>
            <td><i class="far fa-eye"></i></td>



            <td>
                <i class="far fa-edit"></i>
            </td>
    
          </tr>
    
          
          <tr>
            <td><a href="#">2</a></td>
            <td>Luzon</td>
            <td>Jeremy</td>
            <td>5005 $ <br> Total : 12 0005 $
            </td>
            <td>Don mensuel - Reste 6 mois</td>
            <td><i class="far fa-file-alt"></i></td>
            <td><i class="far fa-eye"></i></td>
            <td>
                
                <i class="far fa-edit"></i>
            </td>
    
          </tr>
          <tr>
            <td><a href="#">3</a></td>
            <td>Nataf</td>
            <td>Huges</td>
            <td>600 $ <br> Total : 4 0005 $
            </td>
            <td>Don mensuel - Reste 6 mois</td>
            <td><i class="far fa-file-alt"></i></td>
            <td><i class="far fa-eye"></i></td>
            <td>
                <i class="far fa-edit"></i>            </td>
    
          </tr>
          <tr>
            <td><a href="#">4</a></td>
            <td>Malka</td>
            <td>Aharone</td>
            <td>3000 $ <br> Total : 9 0005 $
            </td>
            <td>Don mensuel - Reste 6 mois</td>
            <td><i class="far fa-file-alt"></i></td>
            <td><i class="far fa-eye"></i></td>
            <td>
                <i class="far fa-edit"></i>
            </td>
    
          </tr>
          <tr>
            <td><a href="#">5</a></td>
            <td>Mazouz</td>
            <td>Cook</td>
            <td>8000 $ <br> Total : 5005 $
            </td>
            <td>Don mensuel - Reste 6 mois</td>
            <td><i class="far fa-file-alt"></i></td>
            <td><i class="far fa-eye"></i></td>
            <td>
                <i class="far fa-edit"></i>
            </td>
    
          </tr>

          
    
    
    </table>
    </body>