<table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Nom</th>
          <th class="text-center">Prenom</th>
          <th class="text-center">Montant</th>
          <th class="text-center">Moyen</th>
          <th class="text-center">Cerfa</th>
          <th class="text-center">Voir</th>
          <th class="text-center">Modifier</th>


    
        </tr>
      </thead>
     
    <tr> <td class="text-center"><a href="#">1</a></td>
            <td class="text-center">Benillouche</td>
            <td class="text-center">Leah</td>
            <td class="text-center">385 $ <br> Total : 5 0005 $
            </td>          
            <td class="text-center">Don mensuel - Reste 6 mois</td>
            <td class="text-center"><i class="far fa-file-alt"></i></td>
            <td class="text-center"><i class="far fa-eye"></i></td>



            <td class="text-center">
                <i class="far fa-edit"></i>
            </td>
    
          </tr>
    
          
          <tr>
            <td class="text-center"><a href="#">2</a></td>
            <td class="text-center">Luzon</td>
            <td class="text-center">Jeremy</td>
            <td class="text-center">5005 $ <br> Total : 12 0005 $
            </td>
            <td class="text-center">Don mensuel - Reste 6 mois</td>
            <td class="text-center"><i class="far fa-file-alt"></i></td>
            <td class="text-center"><i class="far fa-eye"></i></td>
            <td class="text-center">
                
                <i class="far fa-edit"></i>
            </td>
    
          </tr>
          <tr>
            <td class="text-center"><a href="#">3</a></td>
            <td class="text-center">Nataf</td>
            <td class="text-center">Huges</td>
            <td class="text-center">600 $ <br> Total : 4 0005 $
            </td>
            <td class="text-center">Don mensuel - Reste 6 mois</td>
            <td class="text-center"><i class="far fa-file-alt"></i></td>
            <td class="text-center"><i class="far fa-eye"></i></td>
            <td class="text-center">
                <i class="far fa-edit"></i>            </td>
    
          </tr>
          <tr>
            <td class="text-center"><a href="#">4</a></td>
            <td class="text-center">Malka</td>
            <td class="text-center">Aharone</td>
            <td class="text-center">3000 $ <br> Total : 9 0005 $
            </td>
            <td class="text-center">Don mensuel - Reste 6 mois</td>
            <td class="text-center"><i class="far fa-file-alt"></i></td>
            <td class="text-center"><i class="far fa-eye"></i></td>
            <td class="text-center">
                <i class="far fa-edit"></i>
            </td>
    
          </tr>
          <tr>
            <td class="text-center"><a href="#">5</a></td>
            <td class="text-center">Mazouz</td>
            <td class="text-center">Cook</td>
            <td class="text-center">8000 $ <br> Total : 5005 $
            </td>
            <td class="text-center">Don mensuel - Reste 6 mois</td>
            <td class="text-center"><i class="far fa-file-alt"></i></td>
            <td class="text-center"><i class="far fa-eye"></i></td>
            <td class="text-center">
                <i class="far fa-edit"></i>
            </td>
    
          </tr>

          
    
    
    </table>